</div>
</div>
<div id="sidebar">
    <div class="inner">
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <span class="opener">Upcoming Tournaments</span>
                    <ul>
                        <li><a href="/austin">Austin</a></li>
                        <li><a href="/dallas">Dallas</a></li>
                        <li><a href="/houston">Houston</a></li>
                        <li><a href="/sanantonio">San Antonio</a></li>
                        <li><a href="/other">Other Areas</a></li>
                    </ul>
                </li>
                <li><a href="/forums">Forums</a></li>
                <li>
                    <span class="opener">TX Tournaments</span>
                    <ul>
                        <li><a href="/calendar">Calendar</a></li>
                        <li><a href="/addtourney">Add A Tournament</a></li>
                        <li><a href="/itaaverages?page=1">ITA Averages</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>

            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">admin@txbowling.com</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <%= new Date().getFullYear(); %> Justin Jewell.</p>
        </footer>

    </div>
</div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>