<%- include('partials/header') -%>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Add A Tournament --</h2>
        </header>
        <p>Page - add tournament with form.</p>
    </div>
</section>
<%- include('partials/footer') -%>
