<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- <%= status %> --</h2>
            <p>-- Something Went Wrong --</p>
        </header>
        <p class="errorMsg"><%= message %></p>
        <ul class="actions">
            <li><a href="/" class="button big">Back To Home</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="images/errorImg.jpg" alt="404 Error" class="errorImage"/>
    </span>
</section>