<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Forums --</h2>
        </header>
        <p>Page - add discussion forum for questions</p>
    </div>
</section>
