<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Next Tournament Name --</h2>
            <p>-- @ Bowling Center and City --</p>
        </header>
        <p>Link for directions, entry list?</p>
        <ul class="actions">
            <li><a href="#" class="button big">Tourney Info</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="images/pic10.jpg" alt=""/>
    </span>
</section>
