<% layout('./layouts/boilerplate') %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Austin --</h2>
        </header>
        <p>Page - add Austin tourneys here.</p>
    </div>
</section>