<%- include('../partials/header') -%>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- Houston --</h2>
        </header>
        <p>Page - add Houston tourneys here.</p>
    </div>
</section>
<%- include('../partials/footer') -%>
