<%- include('../partials/header') -%>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- San Antonio --</h2>
        </header>
        <p>Page - add San Antonio tourneys here.</p>
    </div>
</section>
<%- include('../partials/footer') -%>
