/* NAVIGATION
==================================================
1. STYLING ADD TOURNEY PAGE
2. STYLING TOURNAMENT SHOW PAGE
3. STYLING ITA AVERAGES PAGE

* light grey d3d6db
* darker grey 3a4750
* darkest grey 303841
* reddish color be3144
*/


a:hover {
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#thank-you-message {
    display: none;
}

#thank-you-message.show {
    display: block;
    text-align: center;
    font-size: 2em;
    background-color: rgba(150, 211, 140, 0.47);
    color: #222;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    padding: 10px;
}

.errorMsg {
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.25);
    color: #000;
    font-weight: lighter;
    margin-bottom: 5em;
}

.errorImage {
    border: 1px solid #be3144;
    border-radius: 50%;
    display: block;
}

/* ALL STYLING FOR ADDING TOURNEY PAGE */
.tournamentForm {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E6EBEE;
    width: 450px;
}

.tournamentForm input, select {
    margin-bottom: 15px;
    width: 400px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #222;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #9FA9BA;
    font-size: 16px;
    border: solid 1px rgba(210, 215, 217, 0.75);
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 5px;
}

input[type="date"]:focus {
    color: #9FA9BA;
    box-shadow: none;
    outline: 2px solid #be3144 !important;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* ALL STYLING FOR TOURNAMENT SHOW PAGE */
.tournamentDisplay {
    display: flex;
}

.tournament {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #E6EBEE;
    width: 450px;
}

.tournamentFlyer {
    max-width: 100%;
}


/* ALL STYLING FOR ITA AVERAGES PAGE */
.itapage {
    display: flex;
    justify-content: space-between;
}

#ita-table {
    text-align: center;
    border: 1px solid #ccc;
}

thead th {
    padding-top: 10px;
}

#banner {
    padding-top: 26px !important;
}

#search {
    display: inline-block;
}

#active {
    display: none;
}

.disabled-link {
    pointer-events: none;
}

.pag-container {
    padding: 2px;
    text-align: center;
    font-size: 1rem;
}

li a {
    border-bottom: 0;
    padding: 5px;
}

.pagination li {
    width: 38px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 2px 2px;
}

.pagination li:hover {
    background-color: rgba(190, 49, 68, 0.28);
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

ul.pagination li:last-child, ul.pagination li:first-child {
    padding-left: 0;
    padding-right: 0;
}

.ita-select {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}

.mobile-pagination {
    display: none;
}

/* RESPONSIVE CSS FOR SMALLER SCREENS AND MOBILE */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .tournamentForm {
        width: 100%;
    }

    .tournamentForm input, select {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        height: 43px;
        text-align: right;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "ID";
    }

    td:nth-of-type(2):before {
        content: "Last Name";
    }

    td:nth-of-type(3):before {
        content: "First Name";
    }

    td:nth-of-type(4):before {
        content: "M Initial";
    }

    td:nth-of-type(5):before {
        content: "SFX";
    }

    td:nth-of-type(6):before {
        content: "City";
    }

    td:nth-of-type(7):before {
        content: "Total Pins";
    }

    td:nth-of-type(8):before {
        content: "Current Games";
    }

    td:nth-of-type(9):before {
        content: "Current Average";
    }

    td:nth-of-type(10):before {
        content: "72 Game Average";
    }
}

@media (max-width: 660px) {
    .pag-responsive-show {
        display: none;
    }

    .mobile-pagination {
        display: inline;
    }

    ul.pagination li {
        display: inline-block !important;
        width: 38px;
        box-shadow: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 2px 2px;


    }

    ul.pagination {
        position: relative;
        bottom: 25px !important;
    }

    .image {
        display: none !important;
    }

    .tournamentDisplay {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tournament {
        width: 100%;
    }
}