<% layout('./layouts/boilerplate') %>
<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <%= error %>
    </div>
<% } %>
<section id="banner">
    <div class="content">
        <header>
            <h2>-- User Login --</h2>
        </header>
        <div class="form-group tournamentForm">
            <form method="post" action="/login" class="tournamentForm2">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username"
                       placeholder="username" required>
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                       placeholder="password" required>
                <input type="submit" class="mb-0 mt-2">
            </form>
        </div>
    </div>
</section>
